body{
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #cae2ef;
}

.site-header.featured-image .site-branding .site-title {
    width:100% !important;
}

.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}

.wp-block-media-text__media figcaption a{
    color:white;

}

.wp-block-media-text__media figcaption a:hover{
    color:black;
    
}

.has-background{
    border-left: 1px solid black;
}

.wp-block-media-text {

    margin-bottom: 15px;
}

.evenements h1{
    text-align: center;
}

.nouvelles{
    background-color: #afc2cc;
}
